{{> header}}
<div class='wrapper'>
    <main class='background--yellow'>
        
    </main>
<h2><span class='h2-greeting'>Hello</span><br><span class='margin--left'>Jane <span class='font--red'>Doe</span></span></h2>

<button type="submit">Begin</button>
</div>

{{> footer}}
