<form id="shopping-form" action="/shopping-list" method="post">
  <div class="form-item">
    <p>Name</p>
    <input type="text" name="name" placeholder="Tell us your fullname"/>
  </div>
  <div class="form-item">
    <p>Item</p>
    <input type="text" name="item" placeholder="What would you like to buy?"/>
  </div>
  <div class="form-item">
    <p>Quantity</p>
    <input type="text" name="quantity" placeholder="How many do you need?"/>
  </div>
  <div class="form-item">
    <p>Approximate price</p>
    <input type="text" name="price" placeholder="How much do you think you'll spend?"/>
  </div>
  <button type="submit">Add your item</button>
</form>
